body {
  margin: 0;
  font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
}

a,
.link {
  cursor: pointer;
  text-decoration: none;
  color: rgba(33, 33, 33, 0.8);
  font-weight: bold;
}

.mat-menu-item {
  font-size: 1.2em !important;
}
