<div class="action">
  <h2 class="mat-subheading-1 sub-title">A PICTURE A DAY</h2>
  <button mat-icon-button (click)="dialogRef.close()" class="close-button">
    <mat-icon>close</mat-icon>
  </button>
</div>
<h1 mat-dialog-title>365 photo project by Kilchenmann</h1>
<div mat-dialog-content>
  <p>
    To improve my photograph skills I started this project. The challenge is to take a picture a day during at least one
    year = 365 days. The project starts on May 1st 2019.
  </p>
  <p>
    <!-- The app is written by myself in Angular, hosted on Github pages. The pictures are managed by a cloud service. -->
  </p>
  <p>
    I hope you have just as much fun looking at the photos as I have with creating them.
  </p>
  <p>Get more information about me on my website <a href="https://lakto.design/info">Lakto.design</a> or follow me on
    Instagram <a href="https://www.instagram.com/milchkannen/">@milchkannen</a>.</p>

</div>
<!--

  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>
 -->
