body {
  margin: 0;
  font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
}

a,
.link {
  cursor: pointer;
  text-decoration: none;
  color: rgba(33, 33, 33, 0.8);
  font-weight: bold;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.mat-menu-item {
  font-size: 1.2em !important;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.81);
}
