:host {
  height: 100vh;
  width: 100vw;

  .image {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(11, 11, 11, 1);
    width: calc(100% - 22.5em);
    height: 100%;
    position: absolute;
    z-index: 0;
    cursor: zoom-in;

    &.image-loader {
      opacity: 0;
      z-index: 2;
    }

    &.zoom {
      background-size: cover;
      cursor: zoom-out;
    }

    .caption {
      background-image: linear-gradient(
        to top,
        rgba(16, 16, 16, 0.75),
        rgba(16, 16, 16, 0.25) 80%,
        rgba(16, 16, 16, 0)
      );
      padding: 2em 2em 0.75em 2em;
      position: absolute;
      bottom: 0;
      left: 0;
      width: calc(100% - 4em);
      color: rgba(255, 255, 255, 0.5);
      z-index: 1;

      display: flex;
      flex-direction: row;
      section {
        // display: inline-flex;
        padding: 0 16px;
        p {
          font-size: smaller;
          margin-block-end: 0;
        }
      }
    }
  }

  .index {
    width: 22.5em;
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background: #fff;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: right;

    .header {
      padding: 3em 2.25em 1.75em 2.25em;

      h1 {
        font-size: 2.25em;
        font-weight: 700;
        text-transform: uppercase;
        img {
          height: 64px;
        }
      }
      p {
        margin: 0 0 1.25em 0;
      }
    }

    .list {
      margin-top: 48px;
      display: grid;
      grid-template-columns: repeat(2, minmax(50%, 1fr));
      grid-gap: 0;
      padding: 0 0.75em;

      .preview {
        max-height: 9em;
      }
    }

    .footer {
      padding: 2.25em 2.25em 1em 2.25em;
      font-size: small;
      text-align: center;
      bottom: 0;
      position: relative;
      width: calc(100% - 4.5em);
    }
  }
}

@media screen and (max-width: 1280px) {
  :host {
    .image {
      width: calc(100% - 19em);

      .caption {
        flex-direction: column;
      }
    }
    .index {
      width: 19em;
    }
  }
}

.fade-in {
  animation: fadeIn ease 2.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut ease 2.5s;
}
@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
