<header>
  <span><img class="logo" src="assets/images/365.jpg"></span>
  <span class="fill-remaining-space"></span>

  <button mat-button class="select-date" disabled="true"
          *ngIf="!loading && months.length === 1">{{selectedDate | date: "yyyy • MM"}}</button>
  <button mat-button [matMenuTriggerFor]="menu" class="select-date"
          *ngIf="!loading && months.length > 1">{{selectedDate | date: "yyyy • MM"}}</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let m of months" (click)="setCalendar(m)">{{m | date: "yyyy • MM"}}</button>
  </mat-menu>

  <span class="fill-remaining-space"></span>

  <button mat-button class="info" (click)="openDialog()">
    <mat-icon>smstext
    </mat-icon>
  </button>

</header>


<div class="content">
  <app-calendar *ngIf="!loading" [selectedDate]="selectedDate" [firstDay]="firstDay" [lastDay]="lastDay"></app-calendar>
</div>

<footer class="mat-caption">365 photo project
  &copy; <span *ngIf="currentYear > 2019">2019 - </span>{{currentYear}} | <a
     href="https://lakto.design">lakto.design</a>
</footer>
