<!-- Viewer with selected picture incl. caption and loader; only visible on desktop an bigger tablets -->
<div class="viewer">
  <app-picture *ngIf="file" [source]="file"></app-picture>
</div>
<!-- Sidenav with header, list of pictures and footer; will have width of 100% on smaller mobile devices -->
<div class="sidenav">
  <div class="header">
    <h1><img src="assets/images/365.jpg" alt="365"></h1>
    <p>A picture a day photo project</p>
  </div>

  <div class="content">
    <app-list (load)="file = $event" (lastDay)="lastDay = $event"></app-list>
  </div>

  <div class="footer">
    <p><a href="/">365 photo project</a> by <a href="https://lakto.design">lakto.design</a> &copy;
      {{lastDay | date: 'yyyy'}}
    </p>
  </div>

</div>

<!--


<div class="image" #image [class.zoom]="zoomIn">
  <app-preview *ngIf="init" [day]="days[0] | date: 'yyyyMMdd'" [full]="init" [zoom]="zoomIn"></app-preview>
  <app-caption *ngIf="imageMeta" [exif]="imageMeta"></app-caption>
</div>

<div class="image image-loader" *ngIf="loading" [class.zoom]="zoomIn" [class.fade-in]="!loading"
  [class.fade-out]="loading" (click)="zoomIn = !zoomIn"></div>



<div class="index" #index>
  <div class="header">

    <div class="warning" *ngIf="error">
      <p>There's something wrong with the dates. Project starts on:<br>{{firstDay | date: 'yyyy&middot;MM&middot;dd'}}
      </p>
      <p>and ends on:<br>{{lastDay | date: 'yyyy&middot;MM&middot;dd'}}</p>
    </div>
  </div>


  <div class="list" *ngIf="!error">
    <app-preview *ngFor="let day of days; let i = index" class="preview" [day]="day | date: 'yyyyMMdd'"
      (file)="openImage($event)">
    </app-preview>
  </div>
  <div class="action" *ngIf="currentIndex < allDays && !error">
    <button class="load-more" type="button" (click)="loadPreviews()">Load more</button>
  </div>



  <div class="footer">

  </div>
</div> -->
