header {
  height: 64px;
  width: calc(100vw - 32px);
  background: #ddd;
  padding: 0 16px;
  display: flex;
  position: fixed;

  .fill-remaining-space {
    flex: 1 1 auto;
  }

  .logo,
  .info,
  .select-date {
    margin: 8px;
    height: 48px;
  }

  .select-date {
    font-size: 1.2em;

    &:disabled {
      color: inherit;
    }
  }
}

.content {
  position: fixed;
  // height: calc(100% - 112px);
  width: 100%;
  overflow-y: auto;
  background: rgba(111, 111, 111, 0.11);
  top: 64px;
  bottom: 48px;
  padding: 24px 0;
}

footer {
  height: 36px;
  background: rgba(55, 55, 55, 1);
  color: #ddd;
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 12px 0 0;
  text-align: center;

  a {
    color: inherit;
  }
}
