<div class="calendar" *ngIf="days.length > 0; else error">

  <div *ngFor="let day of days" class="day">

    <div *ngIf="day <= lastDay && day >= firstDay">
      <img appPictureOfTheDay [source]="day | date: 'yyyyMMdd'" (click)="openImage(day, $event)" class="link">
      <p class="caption mat-caption">{{day | date: "yyyy • MM • dd"}}</p>
    </div>

  </div>

</div>

<ng-template #error>
  Nothing to display
</ng-template>

<ng-template #photo>
  <div class="photo">
    <img appPictureOfTheDay [source]="currentDay | date: 'yyyyMMdd'">
    <div class="caption">
      <span class="fill-remaining-space"></span>
      <span>{{currentDay | date: "yyyy • MM • dd"}}</span>
      <span class="fill-remaining-space"></span>
      <!-- <span>{{currentDay | date: "yyyy • MM • dd"}}</span> -->
    </div>
  </div>
</ng-template>
