<div class="calendar" *ngIf="days.length > 0; else error">
  <mat-grid-list [cols]="isMobile ? 2 : 4" rowHeight="244px">
    <div *ngFor="let day of days">
      <mat-grid-tile *ngIf="day <= lastDay && day >= firstDay" [colspan]="1" [rowspan]="1" class="day">
        <div class="day-card link" (click)="openImage(day)">
          <img appPictureOfTheDay [source]="day | date: 'yyyyMMdd.jpg'">
          <p class="caption mat-caption">{{day | date: "yyyy • MM • dd"}}</p>
        </div>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>

<ng-template #error>
  Nothing to display
</ng-template>
