:host {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;

  &.error {
    cursor: not-allowed;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;

    &.full {
      object-fit: contain;
    }
  }
}
